<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:cxf="http://cxf.apache.org/core" xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xsi:schemaLocation="http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd 
    http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd 
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
    
    <jaxws:client id="UPEPAPClient"
		serviceClass="com.francetelecom.privacy.upe_pap.v2.UPEPAP"
		address="${pap.url}"  />

	<http-conf:conduit
		name="{urn:privacy.francetelecom.com:UPE-PAP/v2}UPE-PAP.http-conduit">
		<http-conf:client AllowChunking="false" />
	</http-conf:conduit>
	
	<bean id="papClient"
		class="com.orange.paddock.cee.consumer.upe.client.PAPClient">
		<constructor-arg ref="UPEPAPClient" />
	</bean>
	
	
    </beans>